<!DOCTYPE html>
<html ng-app="myapp">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/app.js"></script>

	</head>

	<body>
		<div class="container" ng-controller="myCtrl">

			<!--share-->
			<div class="share">
				<div ui-view=""></div>
			</div>

			<!--globe-->
			<div class="footer">
				<div ng-repeat="item in Items" ng-class='"item "+item.className'>
					<a ng-click="init($index)" ui-sref="{{item.ui_sref}}" style="background-image: url('img/{{item.src1}}{{item.src2}}.png')">{{item.text}}</a>
				</div>

			</div>
		</div>

	</body>

</html>
<script id="script"></script>